body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #232e42;
  font-family: Arial, Helvetica, sans-serif;
}

div, ul, li, a, header, section, nav, aside, footer, span, i {
  display: block;
  box-sizing: border-box;
  float: left;
}

aside {
  width: 16%;
  height: 100%;
  padding-top: 70px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  aside {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  aside {
    width: 300px;
  }
}
header {
  width: 100%;
  height: 60px;
  box-shadow: 0 3px 1px rgba(6, 6, 19, 0.3);
  background: #232e42;
  position: fixed;
  z-index: 20;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-card {
  width: 100%;
  padding: 20px;
}
.profile-card__avatar {
  width: 100%;
}
.profile-card__avatar .avatar {
  width: 120px;
  height: 120px;
  float: none;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url("img/img.jpg") no-repeat center center/cover;
}
.profile-card__dropdown {
  width: 100%;
}
.profile-card__dropdown .dropdown__button {
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
}
.profile-card__dropdown .dropdown__button span {
  font-size: 16px;
  color: #919cb0;
  width: 100%;
  text-align: center;
}
.profile-card__dropdown .dropdown__button i {
  margin-left: -25px;
  position: absolute;
  font-size: 12px;
  color: #218cf4;
  margin-top: 4px;
}
.profile-card__dropdown .dropdown__menu {
  width: 100%;
  background: #fff;
  position: absolute;
  display: none;
}
.profile-card__addr {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #919cb0;
  margin-top: -5px;
}

nav {
  width: 100%;
  margin-top: 40px;
}
nav ul.main-menu {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
nav ul.main-menu li {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 12px;
  background: transparent;
  border-left: 5px solid transparent;
  -webkit-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li a {
  width: 100%;
  height: 100%;
  color: #919cb0;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li a i {
  width: 45px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  font-weight: thin;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li a span {
  padding: 9px 0;
  font-size: 12px;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li:hover, nav ul.main-menu li.active {
  background: rgba(0, 0, 0, 0.3);
  border-left: 5px solid #218cf4;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li:hover a, nav ul.main-menu li.active a {
  color: #218cf4;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
nav ul.main-menu li:hover a i, nav ul.main-menu li.active a i {
  animation-name: round;
  animation-duration: 1s;
}
nav ul.main-menu li:hover a span, nav ul.main-menu li.active a span {
  font-weight: bold;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
